h1 {
  border-radius: 15px;
  width: 600px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border: 3px solid black;
  background: azure;
  box-shadow: 2px 5px #666;
  font-family: "Asap", sans-serif;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  justify-content: center;
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin: 20px auto 0 auto;
  border: 8px ridge grey;
  opacity: 1;
  background-color: white;
}

.grid-item {
  padding: 1em;
  text-align: center;
}

body {
  background-image: url("https://i.pinimg.com/originals/2e/fe/c8/2efec86406ed02af72a00eff83377c72.jpg");
}

button {
  margin: 25px;
  border-radius: 15px;
  font-size: large;
  box-shadow: 0 0.3vw #999;
  outline: none;
  width: 160px;
  background-color: azure;
  border: 3px solid black;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.btn {
  display: block;
  text-align: center;
}
